<!-- _includes/image.html -->
<figure>
        <img src="{{ site.urlimg }}/{{ include.img }}" alt="{{ include.title }}"/>

    {% if include.author %}
    <figcaption class="text-right">Source:
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
    "{{ include.title }}"
    {% if include.url %}
    </a>
    {% endif %}
    by {{ include.author }}{% if include.license %},
       {% if include.license-url %}
        <a href="{{ include.license-url }}" target="_blank">
        {% endif %}
        {{ include.license }}
        {% if include.license-url %}
        </a>
        {% endif %}
      {% endif %}
      </figcaption>
    {% endif %}
</figure>
